@page
@using WebApi.Pages
@model WebApi.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>@Model.Message</p>
    <a asp-page="@Routes.Users" class="btn btn-primary">Continue</a>
</div>