@page
@using WebApi.Pages
@model WebApi.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<h1>@ViewData["Title"]</h1>

<div class="center-container">
    <div class="form-container">
        <p>@Model.Message</p>   
        <div class="button-container">
            <a asp-page="@Routes.Users" class="btn btn-primary">Continue</a>
        </div>
    </div>
</div>