@page
@model WebApi.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Check your email";
}

<div class="center-container">
    <div class="form-container">
        <h2>Check your email</h2>
        <p>
            If an account with the provided email exists, we have sent a password reset link to it.
            Please check your email to reset your password.
        </p>            
        <div class="button-container">
            <button type="button" class="w-25 btn btn-lg btn-primary" onclick="redirectToSignIn()">Back</button>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_RedirectScriptsPartial" />
}