@page
@using WebApi.Pages
@model WebApi.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password";
}

<div class="center-container">
    <div class="form-container">
        <h2>Forgot password</h2>
        <hr/>
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                <label asp-for="Input.Email">Email address</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="button-container">
                <button type="submit" class="w-25 btn btn-lg btn-primary">Submit</button>
                <button type="button" class="w-25 btn btn-lg btn-secondary" onclick="redirectToSignIn()">Back</button>
            </div>
            </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function redirectToSignIn() {
            window.location.href = '@Url.Page(Routes.SignIn)';
        }
    </script>
}