@page
@using WebApi.Pages
@model WebApi.Pages.Account.ResetPasswordModel

<div class="center-container">
    <div class="form-container">
        <h2>Reset Password</h2>
        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            
            <partial name="Shared/Views/Account/_PasswordPartial" for="Input.Password"/>
            <partial name="Shared/Views/Account/_PasswordConfirmPartial" for="Input.ConfirmPassword"/>
            
            <div class="button-container">
                <button type="submit" class="w-25 btn btn-lg btn-primary">Reset</button>
                <button type="button" class="w-25 btn btn-lg btn-secondary" onclick="redirectToSignIn()">Sign in</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_PasswordIconScriptsPartial" />
    <partial name="_RedirectScriptsPartial"/>
}