@page
@model WebApi.Pages.Account.SetupMfaModel
@{
    ViewData["Title"] = "Setup multi-factor authentication";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>Scan the QR code below with Microsoft or Google Authenticator (or any TOTP compatible app):</p>
    <div id="qrCode">
        <img src="data:image/png;base64,@Model.QrCode" alt="QR Code" style="width: 200px; height: 200px;" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post">
        <partial name="Shared/Views/Account/_VerificationCodePartial" for="VerificationCode"/>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Verify</button>
        </div>
    </form>
</div>

<style>
    #qrCode {
        margin-bottom: 20px;
    }
</style>

@section Scripts {
    <partial name="_MfaScriptsPartial"/>
}