@page
@model WebApi.Pages.Account.SignUpModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="center-container">
    <div class="form-container">
        <section>
            <form id="signUpForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                @Html.AntiForgeryToken()
                <h2>Sign up</h2>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true"/>
                    <label asp-for="Input.UserName">User name</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="given-name" aria-required="true"/>
                    <label asp-for="Input.FirstName">First name</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" autocomplete="family-name" aria-required="true"/>
                    <label asp-for="Input.LastName">Last name</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <partial name="Shared/_EmailFieldPartial" model="Model.Input.Email" />
                <div class="form-floating mb-3 position-relative">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <a href="#" class="password-icon-overlay">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                    <label asp-for="Input.ConfirmPassword">Confirm password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    <a href="#" class="password-icon-overlay">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </a>
                </div>

                <div class="button-container">
                    <button id="sign-up-submit" type="submit" class="w-25 btn btn-lg btn-primary">Sign up</button>
                    <button id="sign-in" type="button" class="w-25 btn btn-lg btn-secondary" onclick="redirectToSignIn()">Sign in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        function redirectToSignIn() {
            window.location.href = '@Url.Page("./SignIn", new { returnUrl = Model.ReturnUrl })';
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.password-icon-overlay').forEach(function(toggle) {
                toggle.addEventListener('click', togglePasswordVisibility);
            });
        });

        function togglePasswordVisibility(event) {
            event.preventDefault();

            const container = event.currentTarget.closest('.form-floating');
            const inputField = container.querySelector('input');
            const icon = event.currentTarget.querySelector('i');

            if (inputField.type === "password") {
                inputField.type = 'text';
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            } else {
                inputField.type = 'password';
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            }
        }
    </script>
}