@page
@model WebApi.Pages.Account.SignUpModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="center-container">
    <div class="form-container">
        <section>
            <form id="signUpForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                @Html.AntiForgeryToken()
                <h2>Sign up</h2>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="Shared/Views/Account/_UsernamePartial" for="Input.UserName"/>
                <partial name="Shared/Views/Account/_FirstNamePartial" for="Input.FirstName"/>
                <partial name="Shared/Views/Account/_LastNamePartial" for="Input.LastName"/>
                <partial name="Shared/Views/Account/_EmailPartial" for="Input.Email"/>
                <partial name="Shared/Views/Account/_PasswordPartial" for="Input.Password"/>
                <partial name="Shared/Views/Account/_PasswordConfirmPartial" for="Input.ConfirmPassword"/>

                <div class="button-container">
                    <button id="sign-up-submit" type="submit" class="w-25 btn btn-lg btn-primary">Sign up</button>
                    <button id="sign-in" type="button" class="w-25 btn btn-lg btn-secondary" onclick='redirectToSignInWithCallback("@(Model.ReturnUrl ?? "")")'>Sign in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <partial name="_PasswordIconScriptsPartial" />
    <partial name="_RedirectScriptsPartial"/>
}