@page "{id:Guid}"
@using WebApi.Pages
@model WebApi.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit user";
}

<h1>Edit user</h1>

<form method="post" asp-antiforgery="true">
    <div class="form-floating mb-3">
        <input asp-for="Input.UserName" class="form-control" />
        <label asp-for="Input.UserName" class="control-label"></label>
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.FirstName" class="form-control" />
        <label asp-for="Input.FirstName" class="control-label"></label>
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.LastName" class="form-control" />
        <label asp-for="Input.LastName" class="control-label"></label>
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" />
        <label asp-for="Input.Email" class="control-label"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div mb-3>
        <label>
            <input asp-for="Input.IsMfaEnabled"/> is MFA enabled?
        </label>
    </div>
    <div class="mb-3">
        <label asp-for="Input.SelectedRoles"></label>
        <select asp-for="Input.SelectedRoles" asp-items="Model.AllRoles" class="form-control"></select>
        <span asp-validation-for="Input.SelectedRoles" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.OldPassword" class="form-control" autocomplete="old-password" aria-required="true"/>
        <label asp-for="Input.OldPassword">Current password</label>
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
    </div>
    @* <div class="form-floating mb-3"> *@
    @*     <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true"/> *@
    @*     <label asp-for="Input.NewPassword">New password</label> *@
    @*     <span asp-validation-for="Input.NewPassword" class="text-danger"></span> *@
    @* </div> *@
    @* <div class="form-floating mb-3"> *@
    @*     <input asp-for="Input.ConfirmNewPassword" class="form-control" autocomplete="new-password" aria-required="true"/> *@
    @*     <label asp-for="Input.ConfirmNewPassword">Confirm password</label> *@
    @*     <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger"></span> *@
    @* </div> *@
    <div class="form-group mt-3">
        <input type="submit" value="Save" class="btn btn-primary"/>
        <a asp-page="@Routes.CurrentIndex" class="btn btn-secondary">Back to list</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        function adjustSelectSize() {
            let select = document.getElementById('Input_SelectedRoles');
            if (!select) {
                console.error('Select element not found');
                return;
            }

            let optionsCount = select.options.length;
            let maxVisibleOptions = 5;

            select.size = Math.min(optionsCount, maxVisibleOptions);
        }
        
        document.getElementById('Input_IsMfaEnabled').addEventListener('change', function() {
            if (this.checked) {
                window.location.href = '@Url.Page(Routes.SetupMfa)';
            }
        });

        window.onload = adjustSelectSize;
    </script>
}