@page
@model WebApi.Pages.ForgotPasswordModel


<div class="center-container">
    <div class="form-container">
        <h2>Forgot Password</h2>
        <hr/>
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" name="Input.Email" type="email" class="form-control" autocomplete="email" aria-required="true"/>
                <label asp-for="Input.Email" class="form-label">Email address</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}