@model dynamic

<div class="form-floating mb-3">
    <input asp-for="@Model" class="form-control" autocomplete="family-name" placeholder="Last name" aria-required="true"/>
    <label asp-for="@Model">Last name</label>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>