@model dynamic
<div class="form-floating mb-3">
    <input asp-for="@Model" type="password" class="form-control" placeholder="Password" autocomplete="current-password" aria-required="true"/>
    <label asp-for="@Model" class="form-label">Password</label>
    <span asp-validation-for="@Model" class="text-danger"></span>

    <partial name="_PasswordFishEyeIconPartial.cshtml" />
</div>

