@page "{id:Guid}"
@model WebApi.Pages.Roles.DetailsModel
@{
    ViewData["Title"] = "Role details";
}

<h1>User details</h1>

<form method="get" asp-antiforgery="true">
    <div class="form-floating mb-3">
        <input asp-for="@Model.RoleInfo.RoleName" class="form-control" readonly/>
        <label asp-for="@Model.RoleInfo.RoleName" class="control-label"></label>
    </div>
    <div class="form-group mt-3">
        <a asp-page="./Index" class="btn btn-secondary">Back to list</a>
    </div>
</form>