html, body {
    height: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

main {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 100%;
    overflow: auto;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 400px;
    width: 100%;
}

.pagination .page-item .page-link {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}    

.position-relative {
    position: relative;
}

.password-icon-overlay {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    cursor: pointer;
}