@model string
<div class="form-floating mb-3">
    <input id="Email" name="Email" type="email" value="@Model" class="form-control" autocomplete="email" aria-required="true"/>
    <label for="Email" class="form-label">Email address</label>
    <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
</div>